In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data_flats.csv',sep=";")
data.head()

,id,full_sq,life_sq,floor,sub_area,preschool_quota,preschool_education_centers_raion,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,...,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,theater_km,museum_km,ecology,price_doc
0,1,43,27.0,4.0,Bibirevo,5001.0,5,11065.0,5,0,...,0.648488,0.637189,0.947962,0.177975,0.625783,0.628187,14.053047,7.389498,good,5850000
1,2,34,19.0,3.0,Nagatinskij Zaton,3119.0,5,6237.0,8,0,...,0.519311,0.688796,1.072315,0.273345,0.967821,0.471447,6.829889,0.709260,excellent,6000000
2,3,43,29.0,2.0,Tekstil'shhiki,1463.0,4,5580.0,7,0,...,1.486533,1.543049,0.391957,0.158072,3.178751,0.755946,4.273200,3.156423,poor,5700000
3,4,89,50.0,9.0,Mitino,6839.0,9,17063.0,10,0,...,0.599914,0.934273,0.892674,0.236455,1.031777,1.561505,16.990677,16.041521,good,13100000
4,5,77,77.0,4.0,Basmannoe,3240.0,7,7770.0,9,0,...,0.429052,0.077901,0.810801,0.376838,0.378756,0.121681,1.112486,1.800125,excellent,16331452

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30469 entries, 0 to 30468
Data columns (total 56 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     30469 non-null  int64
 1   full_sq                                30469 non-null  int64
 2   life_sq                                24086 non-null  float64
 3   floor                                  30302 non-null  float64
 4   sub_area                               30469 non-null  object
 5   preschool_quota                        23781 non-null  float64
 6   preschool_education_centers_raion      30469 non-null  int64
 7   school_quota                           23784 non-null  float64
 8   school_education_centers_raion         30469 non-null  int64
 9   school_education_centers_top_20_raion  30469 non-null  int64
 10  hospital_beds_raion                    16029 non-null  float64
 11  healthcare_centers_raion               30469 non-null  int64
 12  university_top_20_raion                30469 non-null  int64
 13  sport_objects_raion                    30469 non-null  int64
 14  additional_education_raion             30469 non-null  int64
 15  culture_objects_top_25_raion           30469 non-null  int64
 16  shopping_centers_raion                 30469 non-null  int64
 17  office_raion                           30469 non-null  int64
 18  metro_min_avto                         30469 non-null  float64
 19  metro_km_avto                          30469 non-null  float64
 20  metro_min_walk                         30444 non-null  float64
 21  metro_km_walk                          30444 non-null  float64
 22  kindergarten_km                        30469 non-null  float64
 23  school_km                              30469 non-null  float64
 24  park_km                                30469 non-null  float64
 25  green_zone_km                          30469 non-null  float64
 26  industrial_km                          30469 non-null  float64
 27  railroad_station_walk_km               30444 non-null  float64
 28  railroad_station_walk_min              30444 non-null  float64
 29  public_transport_station_km            30469 non-null  float64
 30  public_transport_station_min_walk      30469 non-null  float64
 31  mkad_km                                30469 non-null  float64
 32  ttk_km                                 30469 non-null  float64
 33  sadovoe_km                             30469 non-null  float64
 34  bulvar_ring_km                         30469 non-null  float64
 35  kremlin_km                             30469 non-null  float64
 36  big_market_km                          30469 non-null  float64
 37  market_shop_km                         30469 non-null  float64
 38  fitness_km                             30469 non-null  float64
 39  swim_pool_km                           30469 non-null  float64
 40  ice_rink_km                            30469 non-null  float64
 41  stadium_km                             30469 non-null  float64
 42  basketball_km                          30469 non-null  float64
 43  hospice_morgue_km                      30469 non-null  float64
 44  university_km                          30469 non-null  float64
 45  workplaces_km                          30469 non-null  float64
 46  shopping_centers_km                    30469 non-null  float64
 47  office_km                              30469 non-null  float64
 48  additional_education_km                30469 non-null  float64
 49  preschool_km                           30469 non-null  float64
 50  big_church_km                          30469 non-null  float64
 51  church_synagogue_km                    30469 non-null  float64
 52  theater_km                             30469 non-null  float64
 53  museum_km                              30469 non-null  float64
 54  ecology                                30469 non-null  object
 55  price_doc                              30469 non-null  int64
dtypes: float64(41), int64(13), object(2)
memory usage: 13.0+ MB

In [7]:
vis_data = pd.read_csv("train.csv", encoding = 'ISO-8859-1', low_memory = False)

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [8]:
pd.set_option('display.max_columns', 50)

In [9]:
vis_data.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,state,zip_code,non_us_str_code,country,ticket_issued_date,hearing_date,violation_code,violation_description,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,IL,60606,NaN,USA,2004-03-16 11:40:00,2005-03-21 10:30:00,9-1-36(a),Failure of owner to obtain certificate of comp...,Responsible by Default,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,MI,48208,NaN,USA,2004-04-23 12:30:00,2005-05-06 13:30:00,61-63.0600,Failed To Secure Permit For Lawful Use Of Buil...,Responsible by Determination,750.0,20.0,10.0,75.0,0.0,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,MI,48223,NaN,USA,2004-04-26 13:40:00,2005-03-29 10:30:00,9-1-36(a),Failure of owner to obtain certificate of comp...,Not responsible by Dismissal,250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,MI,48214,NaN,USA,2004-04-26 13:30:00,NaN,9-1-36(a),Failure of owner to obtain certificate of comp...,Not responsible by City Dismissal,250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,MI,48206,NaN,USA,2004-04-26 13:00:00,2005-03-29 10:30:00,9-1-36(a),Failure of owner to obtain certificate of comp...,Not responsible by Dismissal,250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [25]:
vis_data.state.value_counts().index[0]

'MI'

In [27]:
vis_data.state.isna().sum()

93

In [29]:
state_col = vis_data.state.value_counts().index[0]
result = vis_data.state.fillna(state_col)

In [31]:
result.value_counts()

MI    228694
CA      5020
TX      2420
FL      2237
IL      1310
SC      1304
OH       967
NY       673
MN       632
GA       535
NV       484
UT       477
PA       466
NJ       395
VA       385
NC       353
MD       349
AZ       329
ME       261
OK       248
AL       215
TN       207
WA       192
MA       182
IA       159
WI       159
OR       153
MO       151
CO       147
KY       146
IN       106
AR        82
LA        81
AK        79
NB        77
UK        77
MS        64
CT        60
DC        58
ON        51
DE        50
KS        37
RI        35
ID        33
SD        33
MT        28
NM        21
BC        17
WY        12
HI        10
NH         9
VT         7
VI         6
WV         6
QC         5
PR         5
QL         3
BL         2
ND         2
Name: state, dtype: int64

In [32]:
vis_data.state.value_counts()

MI    228601
CA      5020
TX      2420
FL      2237
IL      1310
SC      1304
OH       967
NY       673
MN       632
GA       535
NV       484
UT       477
PA       466
NJ       395
VA       385
NC       353
MD       349
AZ       329
ME       261
OK       248
AL       215
TN       207
WA       192
MA       182
IA       159
WI       159
OR       153
MO       151
CO       147
KY       146
IN       106
AR        82
LA        81
AK        79
NB        77
UK        77
MS        64
CT        60
DC        58
ON        51
DE        50
KS        37
RI        35
ID        33
SD        33
MT        28
NM        21
BC        17
WY        12
HI        10
NH         9
VT         7
VI         6
WV         6
QC         5
PR         5
QL         3
BL         2
ND         2
Name: state, dtype: int64

In [33]:
data.dropna(inplace=True)
len(data)

13652